@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
@layer components {
  .icon {
    @apply hover:text-blue-500 hover:scale-105 duration-300 text-cyan-300;
  }
  .btn {
    @apply font-semibold hover:bg-gradient-to-r from-cyan-500 to-slate-600 duration-300 hover:scale-110 py-2 px-10 bg-cyan-500 text-white text-xl rounded-xl;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.box_shadow {
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.8);
}
.box {
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.8);
}
.boxs {
  background-color: rgba(0, 0, 0, 0.8);
}
